extends base

mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.main
        .user-view__content
            .user-view__form-container
                h2.heading-secondary.ma-bt-md Password reset
                form.form.form-user-password
                     .form__group
                        label.form__label(for='email') Email address
                        input#email.form__input(type='email', placeholder='you@example.com', required)
                    .form__group
                        label.form__label(for='password') New password
                        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                    .form__group.ma-bt-lg
                        label.form__label(for='password-confirm') Confirm password
                        input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                    .form__group.right
                        button.btn.btn--small.btn--green.btn-change-password Change password